@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	font-family: "Arial Narrow";
}

svg {
/*	border-style: solid;
	border-width: 1px;*/
	margin: auto;
	opacity: 0.7;
}

#nav {
	background-color: white;
	width: 100%;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);*/
	background-position: bottom;
	background-size: 40px 2px;
	background-repeat: repeat-x;
}

#nav a{
	float: left;
	padding: 20px;
	width: 15%;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #660000;
	line-height: 160px;
}

#nav a:hover{
	color: grey;
}

#logo {
	height: 130px;
}

#content {
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	font-size: 18px;
	padding-bottom: 100px;
}

#content h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #660000;
}

ul {
	list-style: none;
}

/* Month header */
#cal_head {
    padding: 70px 15px;
    width: 90%;
/*    border-style: solid;
    border-width: 1px;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: auto;
/*	    border-style: solid;
    border-width: 1px;
    border-color: red;*/
}

/* Month list */
#cal_head ul {
    margin: 0;
    padding: 0;
}

#cal_head ul li {
    color: #660000;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
#cal_head #prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
#cal_head #next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
#weekdays {
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
}

#weekdays li {
/*	border-style: solid;
    border-width: 1px;*/
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
#days {
    padding: 10px 0;
    width: 90%;
    margin: auto;
}

#days li {
/*	border-style: solid;
    border-width: 1px;*/
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 100px;
    text-align: center;
    vertical-align:middle;
    margin-bottom: 5px;
    font-size:12px;
    color:#660000;
    position: relative;
/*    border-style: solid;
    border-width: 1px;
    border-color: #696969;*/
}


#days li:hover {
/*    border-style: solid;
    border-width: 1px;
    border-color: #696969;*/
}


/* Highlight the "current" day */
/*#days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
*/

#days a {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	/*background-color: #ededed;*/
}

#days img {
	width: 110%;
	height: auto;
	opacity: 0.5;
	z-index: -10;
	position: relative;
	top: -10%;
	left: -5%;
}

.date {
	z-index: 20;
	font-size: 30px;
	display:inline;
	text-align: center;
	vertical-align: middle;
}

#articles {
	display: none;
	margin: auto;
	width: 80%;
	height: 200px;
	padding-bottom: 50px;
}

.art_block {
	vertical-align: top;
	display: inline-block;
	width: 200px;
	height: 150px;
	padding: 0px 10px;
	font-size: 14px;
	font-weight: 700;
	color: #660000;
	font-family: 'Roboto', sans-serif;
}

.art_block p {
	padding-top: 5px;
	font-size: 12px;
	color: black;
}

.img_con {
	width: 100%;
	height: 90%;
	overflow: hidden;
	margin-bottom: 10px;

}

.title {
	padding-top: 50px;
}
.img_con img{
	width: 110%;
	height: auto;
	top: -10%;
	left: -5%;
}

/*hr {
  border:none;
  border-top:2px dotted #660000;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:90%;
}*/



